<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">具体位置</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeChangeLocationModal()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content class="app-changelocation" scroll="false" overflow-scroll="false">

        <div id="mapContainer">
        </div>
        <button class="button button-block btn-submit" ng-click="btnchangeLocation()" type="submit">确定</button>
    </ion-content>
</ion-modal-view>
