<ion-view>
    <ion-content class="app-index">
        <div class="row padding-top">
	        <div class="col col-offset-10 col-80"> <img src="img/logo.png" class="logo" alt=""></div>
        </div>
        <div class="row padding-top">
            <div class="col col-33 padding-top "><a class="button  button-calm" href="#/app/news"><i class="ion-document-text"></i>工作动态</a></div>
            <div class="col col-33 padding-top "><a class="button  button-positive" href="#/app/report"><i class="ion-upload"></i>数据上报</a></div>
            <div class="col col-33 padding-top "><a class="button  button-energized" href="#/app/jixiao"><i class="ion-loop"></i>绩效排名</a></div>
        </div>
        <div class="row padding-top">
            <div class="col col-33 padding-top"><a class="button  button-assertive" href="#/app/line"><i class="ion-archive"></i>公共预算收入</a></div>
            <div class="col col-33 padding-top "><a class="button  button-royal" href="#/app/bar"><i class="ion-settings"></i>财政收入分析</a></div>
            <div class="col col-33 padding-top "><a class="button  button-balanced" href="#/app/pie"><i class="ion-gear-b"></i>税收分析</a></div>
        </div>
    </ion-content>
</ion-view>
