<ion-view view-title="绩效排名">
    <ion-content>
        <div class="list">
            <a class="item " href="#">
            	1、国税局<span class="badge badge-assertive">100</span></a>
            <a class="item " href="#">
                2、地税局<span class="badge badge-assertive">	99</span>
            </a>
            <a class="item " href="#">
                3、财政局<span class="badge badge-assertive">	98</span>
            </a>
            <a class="item " href="#">
                4、工商局<span class="badge badge-assertive">	98</span>
            </a>
            <a class="item " href="#">
                5、国土局<span class="badge badge-assertive">	97</span>
            </a>
            <a class="item " href="#">
                6、人社局<span class="badge badge-assertive">	95</span>
            </a>
            <a class="item " href="#">
                7、公安局<span class="badge badge-assertive">	94</span>
            </a>
            <a class="item " href="#">
                8、民政局<span class="badge badge-assertive">	93</span>
            </a>
            <a class="item " href="#">
                9、教育局<span class="badge badge-assertive">	92</span>
            </a>
            <a class="item " href="#">
                10、科技局<span class="badge badge-assertive">	91</span>
            </a>
            <a class="item " href="#">
                11、供电公司<span class="badge badge-assertive">	90</span>
            </a>
            <a class="item " href="#">
                12、自来水公司<span class="badge badge-assertive">	90</span>
            </a>
        </div>
    </ion-content>
</ion-view>
