<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">登陆</h1>
    <div class="buttons">
      <!-- <button class="button button-clear" ng-click="closeLogin()">关闭</button> -->
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" id="loginForm" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">
          <!-- <span class="error ion-close-circled" ng-show="loginForm.username.$error.required"></span> -->
      用户名</span>
          <input type="text" name="username" required ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">
          <!-- <span class="error ion-close-circled" ng-show="loginForm.password.$error.required"></span> -->
          密码</span>
          <input type="password" name="password" required ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block" ng-disabled="!loginForm.$valid" type="submit">登陆</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
